
RewriteEngine on
RewriteCond %{HTTP_HOST} ^4riversinspections.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.4riversinspections.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://4riversinspections.com/$1 [L]